<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td><button><span>工号</span></button></td>
            <td><button><span>姓名</span></button></td>
            <td><button><a th:href="@{/tiao}">操作</a></button></td>
        </tr>
        <br/>
        <tr th:each="h:${h}">
            <td><span th:text="${h.id}"></span></td>
            <td><span th:text="${h.name}"></span></td>
            <td>
                <a th:href="@{/tiao}">修改</a>
            </td>
            <br/>
        </tr>
    </table>
</div>
</body>
</html>