<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">周排班操作</div>
    <div class="panel-body">
        病区
        <select>
            <option value="感染疾病病区">感染疾病病区</option>
        </select>
        月份<input type="date" value="2019-09-05"/>
        周次<input type="date" value="2019-09-05"/>
        <button>取上周</button>
        <button>查询</button>
        <button>保存</button>
        <button>删除排班</button>
        <button>删除听班</button>
        <button>打印预览</button>
    </div>
</div>
<div class="ibox">
    <div class="ibox-body">
        <div id="exampleToolbar" role="group">
            <div class="col-md-12">
                <input id="monday" name="monday" th:value="${monday}" type="hidden">
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">周排班操作</div>
    <div class="panel-body">
        <input id="mondaya" name="monday" th:value="${monday}" type="hidden">
        <table id="exampleTablea" data-mobile-responsive="true">

        </table>
    </div>
</div>


<div th:include="include::footer"></div>

<script type="text/javascript" src="/js/appjs/host/scheduling/scheduling.js"></script>
</body>
</html>