<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div>
  <table>
        <tr>
            <td><button><span>工号</span></button></td>
            <td><button><span>姓名</span></button></td>
            <td><button>操作</button></td>
        </tr>
        <br/>
        <tr th:each="today:${todayInfoDOList}">
            <td><span th:text="${today.id}"></span></td>
            <td><span th:text="${today.name}"></span></td>
            <td>
                <a th:href="@{/BasicInformation/ed(id=${today.id})}">信息</a>
            </td>
            <br/>
        </tr>
  </table>
</div>

<div th:include="include::footer"></div>
</body>
</html>