<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
</head>
<body>
<div>
    <table>
        <tr>
            <td><button><span>工号</span></button></td>
            <td><button><span>姓名</span></button></td>
            <td><button>操作</button></td>
        </tr>
        <br/>
        <tr th:each="todayBaseInfoDO:${todayBaseInfoDO}">
            <td><span th:text="${todayBaseInfoDO.gonghao}"></span></td>
            <td><span th:text="${todayBaseInfoDO.name}"></span></td>
            <td>
                <a th:href="@{/edit(id=${sc.id})}">修改</a>
            </td>
            <br/>
        </tr>
    </table>
</div>
</body>
</html>