<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="ibox">
    <div class="ibox-body">
        <div class=" col-sm-3">
            <!--<table>-->
            <!--<tr>-->
            <!--<td><button style="width: 100%"><span>工号</span></button></td>-->
            <!--<td><button style="width: 100%"><span>姓名</span></button></td>-->
            <!--<td><but    ton style="width: 100%">操作</button></td>-->
            <!--</tr>-->
            <!--<br/>-->
            <!--<tr th:each="today:${todayInfoDOList}">-->
            <!--<td><span th:text="${today.id}"></span></td>-->
            <!--<td><span th:text="${today.name}"></span></td>-->
            <!--<td>-->
            <!--<a th:href="@{/BasicInformation/ed(id=${today.id})}">信息</a>-->
            <!--</td>-->
            <!--<br/>-->
            <!--</tr>-->
            <!--</table>-->
            <table id="exampleToolbar" data-mobile-responsive="true">
            </table>
        </div>
        <div class=" col-sm-9">
            <iframe id="information" width="100%" frameborder="0" scrolling="no"
                    src="/BasicInformation/edit/2300"></iframe>
        </div>
    </div>
</div>

<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/host/nurseinfo/basicinformation.js"></script>
</body>
</html>