<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        table td{
            border: 1px #b3d4fd solid;
        }
        table td button{
            width: 100%;
        }

        .panel-body{
            font-size: 18px;
        }
        tr:first-child{
            background-color: #cccccc;
            font-size: 24px;
        }button
    </style>
</head>
<body>

<div class="panel panel-primary">
    <div class="panel-heading">HIS中的本病区人员信息</div>
    <div class="panel-body">
        <table>
            <tr>
                <td><button>工号</button></td>
                <td><button>姓名</button></td>
            </tr>

            <tr th:each="wardDOList:${wardDOList}">
                <td><span th:text="${wardDOList.userName}}"></span></td>
                <td><span th:text="${wardDOList.name}}"></span></td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">本病区人员信息</div>
    <div class="panel-body">
        <table style="text-align: center">
            <tr>
                <td><button>序号</button></td>
                <td><button>工号</button></td>
                <td><button>姓名</button></td>
            </tr>
            <tr th:each="wardDOList:${wardDOList}">
                <td><span th:text="${wardDOList.xh}}"></span></td>
                <td><span th:text="${wardDOList.userName}}"></span></td>
                <td><span th:text="${wardDOList.name}}"></span></td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">病区操作  &emsp;无工号人员请填写“无工号01”,“无工号01”，依次类推，不要重复</div>
    <div class="panel-body">
        <div class="row" style="font-size: 16px">
            <div class="col-md-2">
                病区 <select name="" id=""  style="height: 50px;width: 160px">
                <option value="感染疾病病区">感染疾病病区</option>
                <option value="感染疾病病区">感染疾病病区</option>
            </select>
            </div>
            <div class="col-md-2">
                姓名<input id="name" type="text" value="李金玲" style="height: 50px;width: 90px">
            </div>
            <div class="col-md-2">
                工号<input id="Job_number" type="text" value="0593" style="height: 50px;width: 90px">
            </div>
            <div class="col-md-2">
                序号<input id="Serial_number" type="text" value="李金玲" style="height: 50px;width: 90px">
            </div>
            <div class="col-md-4" style="font-size: 24px">
                <button>刷新</button>
                <button style="margin-left: 2%">保存</button>
                <button style="margin-left: 2%">删除</button>
            </div>
        </div>
    </div>
</div>




</body>
</html>