<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        table td{
            border: 1px #b3d4fd solid;
        }
        table td button{
            width: 100%;
            height: 100%;
        }

        .panel-body{
            font-size: 18px;
        }
        tr:first-child{
            background-color: #cccccc;
            font-size: 24px;
        }button
    </style>
</head>
<body>

<div class="panel panel-primary">
    <div class="panel-heading">HIS中的本病区人员信息</div>
    <div class="panel-body">
        <table>
            <tr>
                <td><button>工号</button></td>
                <td><button>姓名</button></td>
            </tr>

            <tr th:each="wardDO:${wardDOList}">
                <td><span th:text="${wardDO.userName}"></span></td>
                <td><span th:text="${wardDO.name}"></span></td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">本病区人员信息</div>
    <div class="panel-body">
        <table style="text-align: center">
            <tr>
                <td><button>序号</button></td>
                <td><button>工号</button></td>
                <td><button>姓名</button></td>
            </tr>
            <tr th:each="ward:${wardDOList}">
                <td><span th:text="${ward.xh}"></span></td>
                <td><span th:text="${ward.userName}"></span></td>
                <td><span th:text="${ward.name}"></span></td>
            </tr>
        </table>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">病区操作  &emsp;无工号人员请填写“无工号01”,“无工号01”，依次类推，不要重复</div>
        <div class="panel-body">
            <div class="row" style="font-size: 16px">
                <div class="col-md-2">
                    病区 <select name="" id=""  style="height: 50px;width: 160px">
                    <option value="感染疾病病区">感染疾病病区</option>
                    <option value="感染疾病病区">感染疾病病区</option>
                </select>
                </div>
                <div class="col-md-2">
                    姓名<input id="name" type="text" value="李金玲" style="height: 50px;width: 90px">
                </div>
                <div class="col-md-2">
                    工号<input id="Job_number" type="text" value="0593" style="height: 50px;width: 90px">
                </div>
                <div class="col-md-2">
                    序号<input id="Serial_number" type="text" value="李金玲" style="height: 50px;width: 90px">
                </div>
                <div class="col-md-4" style="font-size: 24px">
                    <button>刷新</button>
                    <button style="margin-left: 2%">保存</button>
                    <button style="margin-left: 2%">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div th:include="include::footer"></div>
</body>
</html>